main {
  display: flex;
  gap: 30px;
  margin: 30px;
  justify-content: center;
}

.timeDay{
  background: linear-gradient(92deg, rgba(68,111,138,1) 0%, rgba(100,188,221,1) 61%);
}

.timeNight{
  background: linear-gradient(19deg, rgba(79,18,97,1) 8%, rgba(22,28,93,1) 26%, rgba(11,24,69,1) 45%, rgba(5,5,45,1) 64%);
}

.timeMorning{
  background: linear-gradient(0deg, rgba(131,58,180,1) 15%, rgba(253,29,29,1) 52%, rgba(252,145,61,1) 71%, rgba(254,212,60,1) 100%);
}

.timeEvening{
  background: linear-gradient(90deg, rgba(82,103,160,1) 0%, rgba(166,118,204,1) 100%);
}

#currentForecast {
  box-sizing: border-box;
  border-radius: 12px;
  width: 60%;
  padding: 40px;
  margin: 20px;
}

#weekForecast {
  border-radius: 12px;
  width: 30%;
  margin: 20px;
}
