<div  class="mainContainer">
  <div class="container" *ngFor="let forecast of weatherService.forecastData">
    <img [src]="forecast.icon" alt="forecastIcon">
    <div class="forecastDetails">
    <span class="text">{{forecast.data}}</span>
    <span class="text">{{forecast.details}}</span>
    <div class="text"><span>{{forecast.min}}</span>
      <span *ngIf="weatherService.scale === 0">K </span>
      <span *ngIf="weatherService.scale !== 0">C </span>
      <span>/ {{forecast.max}}</span>
      <span *ngIf="weatherService.scale === 0">K </span>
      <span *ngIf="weatherService.scale !== 0">C </span>
    </div>
    </div>
  </div>
</div>
